[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "NBPSeq"]
	path = NBPSeq
	url = https://github.com/diystat/nbpseq
[submodule "regsubseq"]
	path = regsubseq
	url = https://github.com/cran/regsubseq
